<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">
	<Properties>
		<Property name="LEVEL">${distributori.debug:-WARN}</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="LogFile" fileName="distributori/logs/debug_error_distributori.log">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<NoSql name="MongoAppender">
			<MongoDb databaseName="DistributoriRestNoSQL" collectionName="log" server="localhost"  port="27017" />
		</NoSql>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="it.unisalento.rest.distributori" level="WARN">
			<AppenderRef ref="MongoAppender" />
		</logger>
		<logger name="it.unisalento.rest.distributori" level="DEBUG">
			<AppenderRef ref="LogFile" />
		</logger>
	</Loggers>
</Configuration>